## Лабораторная работа № 1 
## Выполнение разведочного анализа больших данных с использованием фреймворка Apache Spark

### Часть 1

В данной части работы рассмотрены:
* загрузка данных из HDFS;
* базовые преобразования данных;
* загрузка преобразованных данных в таблицу `Apache Airflow`.

Подключим необходимые библиотеки.

In [1]:
import os
from pyspark.sql import SparkSession, DataFrame
from pyspark import SparkConf
from pyspark.sql.functions import (
    regexp_replace,
    regexp_extract_all,
    col,
    lit
)

Сформируем объект конфигурации для `Apache Spark`, указав необходимые параметры.

In [2]:
def create_spark_configuration() -> SparkConf:
    """
    Создает и конфигурирует экземпляр SparkConf для приложения Spark.

    Returns:
        SparkConf: Настроенный экземпляр SparkConf.
    """
    # Получаем имя пользователя
    user_name = os.getenv("USER")
    
    conf = SparkConf()
    conf.setAppName("lab 1 Test")
    conf.setMaster("yarn")
    conf.set("spark.submit.deployMode", "client")
    conf.set("spark.executor.memory", "12g")
    conf.set("spark.executor.cores", "8")
    conf.set("spark.executor.instances", "2")
    conf.set("spark.driver.memory", "4g")
    conf.set("spark.driver.cores", "2")
    conf.set("spark.jars.packages", "org.apache.iceberg:iceberg-spark-runtime-3.5_2.12:1.6.0")
    conf.set("spark.sql.extensions", "org.apache.iceberg.spark.extensions.IcebergSparkSessionExtensions")
    conf.set("spark.sql.catalog.spark_catalog", "org.apache.iceberg.spark.SparkCatalog")
    conf.set("spark.sql.catalog.spark_catalog.type", "hadoop")
    conf.set("spark.sql.catalog.spark_catalog.warehouse", f"hdfs:///user/{user_name}/warehouse")
    conf.set("spark.sql.catalog.spark_catalog.io-impl", "org.apache.iceberg.hadoop.HadoopFileIO")

    return conf

Создаём сам объект конфигурации.

In [3]:
conf = create_spark_configuration()

Создаём и выводим на экран сессию `Apache Spark`. В процессе создания сессии происходит подключение к кластеру `Apache Hadoop`, что может занять некоторое время.

In [4]:
spark = SparkSession.builder.config(conf=conf).getOrCreate()
spark

:: loading settings :: url = jar:file:/opt/spark-3.5.2-bin-hadoop3/jars/ivy-2.5.1.jar!/org/apache/ivy/core/settings/ivysettings.xml

Ivy Default Cache set to: /home/user6/.ivy2/cache
The jars for the packages stored in: /home/user6/.ivy2/jars
org.apache.iceberg#iceberg-spark-runtime-3.5_2.12 added as a dependency
:: resolving dependencies :: org.apache.spark#spark-submit-parent-8ccc41b6-2a4b-4ae4-8212-22bb90fa5881;1.0
	confs: [default]
	found org.apache.iceberg#iceberg-spark-runtime-3.5_2.12;1.6.0 in central
:: resolution report :: resolve 567ms :: artifacts dl 27ms
	:: modules in use:
	org.apache.iceberg#iceberg-spark-runtime-3.5_2.12;1.6.0 from central in [default]
	---------------------------------------------------------------------
	|                  |            modules            ||   artifacts   |
	|       conf       | number| search|dwnlded|evicted|| number|dwnlded|
	---------------------------------------------------------------------
	|      default     |   1   |   0   |   0   |   0   ||   1   |   0   |
	---------------------------------------------------------------------
:: retrieving :: org.apache.spark#spark-submit-parent-8ccc41b6-2a4b-4ae4-8212-22bb90fa5881
	confs: [default]
	0 artifacts copied, 1 already retrieved (0kB/25ms)
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/12/15 10:55:22 WARN Client: Neither spark.yarn.jars nor spark.yarn.archive is set, falling back to uploading libraries under SPARK_HOME.
24/12/15 10:55:41 WARN Client: Same path resource file:///home/user6/.ivy2/jars/org.apache.iceberg_iceberg-spark-runtime-3.5_2.12-1.6.0.jar added multiple times to distributed cache.

Для исследования будем использовать датасет `"Flight Prices"`, расположенный на платформе `Kaggle` по адресу https://www.kaggle.com/datasets/dilwong/flightprices.

Датасет содержит данные о ценах на авиабилеты, включая маршруты, авиакомпании, классы обслуживания и временные параметры. Он разрешен для использования в учебных целях.

Данный датасет уже загружен в `HDFS` по адресу: `hdfs:///user/user6/kachurin_directory/itineraries.csv`

Указываем путь в `HDFS` для файла с данными.

In [5]:

path = "hdfs:///user/user6/kachurin_directory/itineraries.csv"

Заполняем датафрейм данными из файла.

In [6]:
df = (spark.read.format("csv")
      .option("header", "true")
      .load(path)
)

Выводим фрагмент датафрейма на экран.

In [7]:
df.show()

24/12/15 10:57:06 WARN SparkStringUtils: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.

+--------------------+----------+----------+---------------+------------------+-------------+--------------+-----------+--------------+------------+---------+--------+---------+--------------+-------------------+---------------------------------+------------------------+-------------------------------+----------------------+--------------------------+----------------------------+--------------------+-------------------+----------------------------+-------------------------+----------------+-----------------+
|               legId|searchDate|flightDate|startingAirport|destinationAirport|fareBasisCode|travelDuration|elapsedDays|isBasicEconomy|isRefundable|isNonStop|baseFare|totalFare|seatsRemaining|totalTravelDistance|segmentsDepartureTimeEpochSeconds|segmentsDepartureTimeRaw|segmentsArrivalTimeEpochSeconds|segmentsArrivalTimeRaw|segmentsArrivalAirportCode|segmentsDepartureAirportCode| segmentsAirlineName|segmentsAirlineCode|segmentsEquipmentDescription|segmentsDurationInSeconds|segmentsDistance|segmentsCabinCode|
+--------------------+----------+----------+---------------+------------------+-------------+--------------+-----------+--------------+------------+---------+--------+---------+--------------+-------------------+---------------------------------+------------------------+-------------------------------+----------------------+--------------------------+----------------------------+--------------------+-------------------+----------------------------+-------------------------+----------------+-----------------+
|9ca0e81111c683bec...|2022-04-16|2022-04-17|            ATL|               BOS|     LA0NX0MC|       PT2H29M|          0|         False|       False|     True|  217.67|   248.60|             9|                947|                       1650214620|    2022-04-17T12:57:...|                     1650223560|  2022-04-17T15:26:...|                       BOS|                         ATL|               Delta|                 DL|                 Airbus A321|                     8940|             947|            coach|
|98685953630e772a0...|2022-04-16|2022-04-17|            ATL|               BOS|     LA0NX0MC|       PT2H30M|          0|         False|       False|     True|  217.67|   248.60|             4|                947|                       1650191400|    2022-04-17T06:30:...|                     1650200400|  2022-04-17T09:00:...|                       BOS|                         ATL|               Delta|                 DL|                 Airbus A321|                     9000|             947|            coach|
|98d90cbc32bfbb05c...|2022-04-16|2022-04-17|            ATL|               BOS|     LA0NX0MC|       PT2H30M|          0|         False|       False|     True|  217.67|   248.60|             9|                947|                       1650209700|    2022-04-17T11:35:...|                     1650218700|  2022-04-17T14:05:...|                       BOS|                         ATL|               Delta|                 DL|              Boeing 757-200|                     9000|             947|            coach|
|969a269d38eae583f...|2022-04-16|2022-04-17|            ATL|               BOS|     LA0NX0MC|       PT2H32M|          0|         False|       False|     True|  217.67|   248.60|             8|                947|                       1650218340|    2022-04-17T13:59:...|                     1650227460|  2022-04-17T16:31:...|                       BOS|                         ATL|               Delta|                 DL|                 Airbus A321|                     9120|             947|            coach|
|980370cf27c89b40d...|2022-04-16|2022-04-17|            ATL|               BOS|     LA0NX0MC|       PT2H34M|          0|         False|       False|     True|  217.67|   248.60|             9|                947|                       1650203940|    2022-04-17T09:59:...|                     1650213180|  2022-04-17T12:33:...|                       BOS|                         ATL|               Delta|                 DL|                 Airbus A321|                     9240|             947|            coach|
|79eda9f841e226a1e...|2022-04-16|2022-04-17|            ATL|               BOS|     VH0AUEL1|       PT2H38M|          0|         False|       False|     True|  217.67|   248.60|             7|                947|                       1650206700|    2022-04-17T10:45:...|                     1650216180|  2022-04-17T13:23:...|                       BOS|                         ATL|     JetBlue Airways|                 B6|                        NULL|                     9480|             947|            coach|
|9335fae376c38bb61...|2022-04-16|2022-04-17|            ATL|               BOS|     V0AJZNN1|       PT4H12M|          0|         False|       False|    False|  213.02|   251.10|             3|                956|             1650198000||16502...|    2022-04-17T08:20:...|           1650203400||16502...|  2022-04-17T09:50:...|                  CLT||BOS|                    ATL||CLT|American Airlines...|             AA||AA|        Airbus A320||Airb...|               5400||7500|        228||728|     coach||coach|
|3904bf87f2d1daf33...|2022-04-16|2022-04-17|            ATL|               BOS|     V0AJZNN1|       PT5H18M|          0|         False|       False|    False|  213.02|   251.10|             3|                956|             1650198000||16502...|    2022-04-17T08:20:...|           1650203400||16502...|  2022-04-17T09:50:...|                  CLT||BOS|                    ATL||CLT|American Airlines...|             AA||AA|        Airbus A320||Boei...|               5400||8280|        228||728|     coach||coach|
|d93988734c44a3c07...|2022-04-16|2022-04-17|            ATL|               BOS|     V0AJZNN1|       PT5H32M|          0|         False|       False|    False|  213.02|   251.10|             7|                956|             1650193200||16502...|    2022-04-17T07:00:...|           1650198060||16502...|  2022-04-17T08:21:...|                  CLT||BOS|                    ATL||CLT|American Airlines...|             AA||AA|        Airbus A319||Airb...|               4860||7500|        228||728|     coach||coach|
|562e7d5dd6ecbf150...|2022-04-16|2022-04-17|            ATL|               BOS|     V0AJZNN1|       PT6H38M|          0|         False|       False|    False|  213.02|   251.10|             7|                956|             1650193200||16502...|    2022-04-17T07:00:...|           1650198060||16502...|  2022-04-17T08:21:...|                  CLT||BOS|                    ATL||CLT|American Airlines...|             AA||AA|        Airbus A319||Boei...|               4860||8280|        228||728|     coach||coach|
|c38a6e4b807d15541...|2022-04-16|2022-04-17|            ATL|               BOS|     VAA0AKEN|       PT4H46M|          0|         False|       False|    False|  213.02|   252.60|             1|                947|             1650187800||16501...|    2022-04-17T05:30:...|           1650194280||16502...|  2022-04-17T07:18:...|                  IAD||BOS|                    ATL||IAD|      United||United|             UA||UA|        Airbus A319||Boei...|               6480||5940|        541||406|     coach||coach|
|f66d72ba3a5265766...|2022-04-16|2022-04-17|            ATL|               BOS|     V0AJZNN1|       PT5H45M|          0|         False|       False|    False|  213.02|   252.60|             3|               1462|             1650220740||16502...|    2022-04-17T14:39:...|           1650228840||16502...|  2022-04-17T15:54:...|                  ORD||BOS|                    ATL||ORD|American Airlines...|             AA||AA|        Embraer 175||Boei...|               8100||8340|        600||862|     coach||coach|
|e7c4054e85cca9bc7...|2022-04-16|2022-04-17|            ATL|               BOS|     V0AJZNN1|       PT5H59M|          0|         False|       False|    False|  213.02|   252.60|             5|               1462|             1650232800||16502...|    2022-04-17T18:00:...|           1650240660||16502...|  2022-04-17T19:11:...|                  ORD||BOS|                    ATL||ORD|American Airlines...|             AA||AA|        Embraer 175||Boei...|               7860||8640|        600||862|     coach||coach|
|5fa8c0f8b25eb24bf...|2022-04-16|2022-04-17|            ATL|               BOS|     V0AJZNN1|       PT7H18M|          0|         False|       False|    False|  213.02|   252.60|             3|               1462|             1650220740||16502...|    2022-04-17T14:39:...|           1650228840||16502...|  2022-04-17T15:54:...|                  ORD||BOS|                    ATL||ORD|American Airlines...|             AA||AA|        Embraer 175||Airb...|               8100||7920|        600||862|     coach||coach|
|948d26b3e5658762c...|2022-04-16|2022-04-17|            ATL|               BOS|     VAA0AKEN|       PT8H10M|          0|         False|       False|    False|  213.02|   252.60|             2|               1462|             1650190200||16502...|    2022-04-17T06:10:...|           1650198000||16502...|  2022-04-17T07:20:...|                  ORD||BOS|                    ATL||ORD|      United||United|             UA||UA|        Embraer 175 (Enha...|               7800||8640|        600||862|     coach||coach|
|cb345693479e84838...|2022-04-16|2022-04-17|            ATL|               BOS|          VNR|       PT5H39M|          0|         False|       False|    False|  183.00|   290.58|             0|               NULL|             1650187560||16501...|    2022-04-17T05:26:...|           1650194400||16502...|  2022-04-17T07:20:...|                  FLL||BOS|                    ATL||FLL|Spirit Airlines||...|             NK||NK|        AIRBUS INDUSTRIE ...|              6840||11100|      None||None|     coach||coach|
|e1b95e4e6c997517f...|2022-04-16|2022-04-17|            ATL|               BOS|     KH0AUEY5|       PT2H38M|          0|         False|       False|     True|  265.58|   300.10|             7|                947|                       1650206700|    2022-04-17T10:45:...|                     1650216180|  2022-04-17T13:23:...|                       BOS|                         ATL|   American Airlines|                 AA|                        NULL|                     9480|             947|            coach|
|eaf033a044596f0a7...|2022-04-16|2022-04-17|            ATL|               BOS|     L0AJZNN1|       PT4H17M|          0|         False|       False|    False|  260.47|   302.11|             1|                956|             1650233700||16502...|    2022-04-17T18:15:...|           1650238620||16502...|  2022-04-17T19:37:...|                  CLT||BOS|                    ATL||CLT|American Airlines...|             AA||AA|        Canadian Regional...|               4920||7620|        228||728|     coach||coach|
|721d9a2f66fe479e7...|2022-04-16|2022-04-17|            ATL|               BOS|     L0AJZNN1|       PT4H36M|          0|         False|       False|    False|  260.47|   302.11|             1|                956|             1650207720||16502...|    2022-04-17T11:02:...|           1650212880||16502...|  2022-04-17T12:28:...|                  CLT||BOS|                    ATL||CLT|American Airlines...|             AA||AA|        Canadair Regional...|               5160||7860|        228||728|     coach||coach|
|a9f012defb9227f69...|2022-04-16|2022-04-17|            ATL|               BOS|     L0AJZNN1|       PT4H45M|          0|         False|       False|    False|  260.47|   302.11|             1|                956|             1650226680||16502...|    2022-04-17T16:18:...|           1650230760||16502...|  2022-04-17T17:26:...|                  CLT||BOS|                    ATL||CLT|American Airlines...|             AA||AA|        Airbus A319||Boei...|               4080||7860|        228||728|     coach||coach|
+--------------------+----------+----------+---------------+------------------+-------------+--------------+-----------+--------------+------------+---------+--------+---------+--------------+-------------------+---------------------------------+------------------------+-------------------------------+----------------------+--------------------------+----------------------------+--------------------+-------------------+----------------------------+-------------------------+----------------+-----------------+
only showing top 20 rows

Очевидно, что в целях сохранения ясности изложения и сокращения расчетного времени имеет смысл рассматривать не все столбцы датасета. Оставим следующие колонки, удалив остальные:

| Название столбца            | Расшифровка                                                                 |
| --------------------------- | --------------------------------------------------------------------------- |
| legId                       | Идентификатор рейса                                                        |
| flightDate                  | Дата вылета (YYYY-MM-DD)                                                   |
| startingAirport             | Код аэропорта вылета (IATA)                                               |
| destinationAirport          | Код аэропорта прилета (IATA)                                              |
| isBasicEconomy              | Является ли билет экономичным (логическое значение)                       |
| isRefundable                | Является ли билет возвратным (логическое значение)                        |
| isNonStop                   | Является ли рейс прямым (логическое значение)                             |
| baseFare                    | Базовая стоимость билета (в долларах США)                                 |
| totalFare                   | Полная стоимость билета с учетом налогов и сборов (в долларах США)        |
| seatsRemaining              | Количество оставшихся мест                                                |
| totalTravelDistance         | Общая дистанция путешествия (в милях)                                     |

In [8]:
df = df.select(
    "legId", "flightDate", "startingAirport", "destinationAirport",
    "isBasicEconomy", "isRefundable", "isNonStop", "baseFare", "totalFare",
    "seatsRemaining", "totalTravelDistance"
)

In [9]:
df.show()

+--------------------+----------+---------------+------------------+--------------+------------+---------+--------+---------+--------------+-------------------+
|               legId|flightDate|startingAirport|destinationAirport|isBasicEconomy|isRefundable|isNonStop|baseFare|totalFare|seatsRemaining|totalTravelDistance|
+--------------------+----------+---------------+------------------+--------------+------------+---------+--------+---------+--------------+-------------------+
|9ca0e81111c683bec...|2022-04-17|            ATL|               BOS|         False|       False|     True|  217.67|   248.60|             9|                947|
|98685953630e772a0...|2022-04-17|            ATL|               BOS|         False|       False|     True|  217.67|   248.60|             4|                947|
|98d90cbc32bfbb05c...|2022-04-17|            ATL|               BOS|         False|       False|     True|  217.67|   248.60|             9|                947|
|969a269d38eae583f...|2022-04-17|            ATL|               BOS|         False|       False|     True|  217.67|   248.60|             8|                947|
|980370cf27c89b40d...|2022-04-17|            ATL|               BOS|         False|       False|     True|  217.67|   248.60|             9|                947|
|79eda9f841e226a1e...|2022-04-17|            ATL|               BOS|         False|       False|     True|  217.67|   248.60|             7|                947|
|9335fae376c38bb61...|2022-04-17|            ATL|               BOS|         False|       False|    False|  213.02|   251.10|             3|                956|
|3904bf87f2d1daf33...|2022-04-17|            ATL|               BOS|         False|       False|    False|  213.02|   251.10|             3|                956|
|d93988734c44a3c07...|2022-04-17|            ATL|               BOS|         False|       False|    False|  213.02|   251.10|             7|                956|
|562e7d5dd6ecbf150...|2022-04-17|            ATL|               BOS|         False|       False|    False|  213.02|   251.10|             7|                956|
|c38a6e4b807d15541...|2022-04-17|            ATL|               BOS|         False|       False|    False|  213.02|   252.60|             1|                947|
|f66d72ba3a5265766...|2022-04-17|            ATL|               BOS|         False|       False|    False|  213.02|   252.60|             3|               1462|
|e7c4054e85cca9bc7...|2022-04-17|            ATL|               BOS|         False|       False|    False|  213.02|   252.60|             5|               1462|
|5fa8c0f8b25eb24bf...|2022-04-17|            ATL|               BOS|         False|       False|    False|  213.02|   252.60|             3|               1462|
|948d26b3e5658762c...|2022-04-17|            ATL|               BOS|         False|       False|    False|  213.02|   252.60|             2|               1462|
|cb345693479e84838...|2022-04-17|            ATL|               BOS|         False|       False|    False|  183.00|   290.58|             0|               NULL|
|e1b95e4e6c997517f...|2022-04-17|            ATL|               BOS|         False|       False|     True|  265.58|   300.10|             7|                947|
|eaf033a044596f0a7...|2022-04-17|            ATL|               BOS|         False|       False|    False|  260.47|   302.11|             1|                956|
|721d9a2f66fe479e7...|2022-04-17|            ATL|               BOS|         False|       False|    False|  260.47|   302.11|             1|                956|
|a9f012defb9227f69...|2022-04-17|            ATL|               BOS|         False|       False|    False|  260.47|   302.11|             1|                956|
+--------------------+----------+---------------+------------------+--------------+------------+---------+--------+---------+--------------+-------------------+
only showing top 20 rows

Выведем на экран метаданные датасета.

In [10]:
df.printSchema()

root
 |-- legId: string (nullable = true)
 |-- flightDate: string (nullable = true)
 |-- startingAirport: string (nullable = true)
 |-- destinationAirport: string (nullable = true)
 |-- isBasicEconomy: string (nullable = true)
 |-- isRefundable: string (nullable = true)
 |-- isNonStop: string (nullable = true)
 |-- baseFare: string (nullable = true)
 |-- totalFare: string (nullable = true)
 |-- seatsRemaining: string (nullable = true)
 |-- totalTravelDistance: string (nullable = true)

Видно, что все столбцы датасета содержат строковый тип данных, что не соответствует ожиданиям. Выполним преобразования типов данных некоторых столбцов.

In [11]:
from pyspark.sql import DataFrame
from pyspark.sql.functions import col, to_date

def transform_dataframe(data: DataFrame) -> DataFrame:
    """
    Преобразует столбцы DataFrame в указанные типы данных и
    выполняет необходимые преобразования, включая обработку дат.

    Args:
        data (DataFrame): Исходный DataFrame.

    Returns:
        DataFrame: Преобразованный DataFrame.
    """
    # Преобразование логических столбцов
    data = data.withColumn("isBasicEconomy", col("isBasicEconomy").cast("Boolean"))
    data = data.withColumn("isRefundable", col("isRefundable").cast("Boolean"))
    data = data.withColumn("isNonStop", col("isNonStop").cast("Boolean"))
    
    # Преобразование числовых столбцов
    data = data.withColumn("baseFare", col("baseFare").cast("Float"))
    data = data.withColumn("totalFare", col("totalFare").cast("Float"))
    data = data.withColumn("seatsRemaining", col("seatsRemaining").cast("Integer"))
    data = data.withColumn("totalTravelDistance", col("totalTravelDistance").cast("Float"))
    
    # Преобразование строк с датами в формат Date (формат по умолчанию - yyyy-MM-dd)
    data = data.withColumn("flightDate", to_date(col("flightDate")))
    
    return data

In [12]:
df = transform_dataframe(df)

In [13]:
df.show()

+--------------------+----------+---------------+------------------+--------------+------------+---------+--------+---------+--------------+-------------------+
|               legId|flightDate|startingAirport|destinationAirport|isBasicEconomy|isRefundable|isNonStop|baseFare|totalFare|seatsRemaining|totalTravelDistance|
+--------------------+----------+---------------+------------------+--------------+------------+---------+--------+---------+--------------+-------------------+
|9ca0e81111c683bec...|2022-04-17|            ATL|               BOS|         false|       false|     true|  217.67|    248.6|             9|              947.0|
|98685953630e772a0...|2022-04-17|            ATL|               BOS|         false|       false|     true|  217.67|    248.6|             4|              947.0|
|98d90cbc32bfbb05c...|2022-04-17|            ATL|               BOS|         false|       false|     true|  217.67|    248.6|             9|              947.0|
|969a269d38eae583f...|2022-04-17|            ATL|               BOS|         false|       false|     true|  217.67|    248.6|             8|              947.0|
|980370cf27c89b40d...|2022-04-17|            ATL|               BOS|         false|       false|     true|  217.67|    248.6|             9|              947.0|
|79eda9f841e226a1e...|2022-04-17|            ATL|               BOS|         false|       false|     true|  217.67|    248.6|             7|              947.0|
|9335fae376c38bb61...|2022-04-17|            ATL|               BOS|         false|       false|    false|  213.02|    251.1|             3|              956.0|
|3904bf87f2d1daf33...|2022-04-17|            ATL|               BOS|         false|       false|    false|  213.02|    251.1|             3|              956.0|
|d93988734c44a3c07...|2022-04-17|            ATL|               BOS|         false|       false|    false|  213.02|    251.1|             7|              956.0|
|562e7d5dd6ecbf150...|2022-04-17|            ATL|               BOS|         false|       false|    false|  213.02|    251.1|             7|              956.0|
|c38a6e4b807d15541...|2022-04-17|            ATL|               BOS|         false|       false|    false|  213.02|    252.6|             1|              947.0|
|f66d72ba3a5265766...|2022-04-17|            ATL|               BOS|         false|       false|    false|  213.02|    252.6|             3|             1462.0|
|e7c4054e85cca9bc7...|2022-04-17|            ATL|               BOS|         false|       false|    false|  213.02|    252.6|             5|             1462.0|
|5fa8c0f8b25eb24bf...|2022-04-17|            ATL|               BOS|         false|       false|    false|  213.02|    252.6|             3|             1462.0|
|948d26b3e5658762c...|2022-04-17|            ATL|               BOS|         false|       false|    false|  213.02|    252.6|             2|             1462.0|
|cb345693479e84838...|2022-04-17|            ATL|               BOS|         false|       false|    false|   183.0|   290.58|             0|               NULL|
|e1b95e4e6c997517f...|2022-04-17|            ATL|               BOS|         false|       false|     true|  265.58|    300.1|             7|              947.0|
|eaf033a044596f0a7...|2022-04-17|            ATL|               BOS|         false|       false|    false|  260.47|   302.11|             1|              956.0|
|721d9a2f66fe479e7...|2022-04-17|            ATL|               BOS|         false|       false|    false|  260.47|   302.11|             1|              956.0|
|a9f012defb9227f69...|2022-04-17|            ATL|               BOS|         false|       false|    false|  260.47|   302.11|             1|              956.0|
+--------------------+----------+---------------+------------------+--------------+------------+---------+--------+---------+--------------+-------------------+
only showing top 20 rows

In [14]:
df.printSchema()

root
 |-- legId: string (nullable = true)
 |-- flightDate: date (nullable = true)
 |-- startingAirport: string (nullable = true)
 |-- destinationAirport: string (nullable = true)
 |-- isBasicEconomy: boolean (nullable = true)
 |-- isRefundable: boolean (nullable = true)
 |-- isNonStop: boolean (nullable = true)
 |-- baseFare: float (nullable = true)
 |-- totalFare: float (nullable = true)
 |-- seatsRemaining: integer (nullable = true)
 |-- totalTravelDistance: float (nullable = true)

Видно, что теперь столбцы датафрейма содержат значения корректных типов.

Полученный датафрейм сохраним для дальнейшего использования. Сохранение выполним в таблицу `Apache Iceberg`. 

`Apache Iceberg` — это поддерживающий высокую производительность табличный формат для больших данных.

Сначала создадим базу данных, в которой будет расположена таблица. Во избежание путаницы, **каждую таблицу следует называть с использованием фамилии студента**.

In [15]:
database_name = "kachurin_database"

Создадим инструкцию SQL для добавления базы данных в каталог `Apache Spark`.

In [16]:
create_database_sql = f"""
CREATE DATABASE IF NOT EXISTS spark_catalog.{database_name}
"""

In [17]:
spark.sql(create_database_sql)

DataFrame[]

Установим созданную базу данных как текущую.

In [18]:
spark.catalog.setCurrentDatabase(database_name)

И, наконец, записываем преобразованный датафрейм в таблицу `sobd_lab1_table`.

In [19]:
# Сохранение DataFrame в виде таблицы
df.writeTo("sobd_lab1_table_1").using("iceberg").create()

После успешной записи можно посмотреть, какие таблицы входят в базу данных.

In [20]:
for table in spark.catalog.listTables():
    print(table.name)

sobd_lab1_table_1

Обратите внимание, что при необходимости созданные базу данных и таблицу можно удалить следующими командами.

In [21]:
#spark.sql("DROP TABLE spark_catalog.kachurin_database.sobd_lab1_table_1")
#spark.sql("DROP DATABASE spark_catalog.kachurin_database")

После успешной записи таблицы останавливаем сессию `Apache Spark`.

In [22]:
spark.stop()